@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* google font link */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 90%;
    margin: auto;
    padding: 0 30px;
}
/* =====common css ====== */
.header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    bottom: 60px;
    z-index: 11111;
    background-color: #fff;
}
.header .col_flex{
    display: flex;
    justify-content: space-between;
}
.header .logo a{
    font-size: 28px;
    line-height: 60px;
    color: #000;
}
.header .navbar ul{
    text-align: right;
}
.header .navbar ul li{
    display: inline-block;
}
.header .navbar ul li .nav_link{
    color: #000;
    font-size: 16px;
    line-height: 60px;
    margin-left: 20px;
    transition: 0.4s ease;
}
.header .navbar ul li .nav_link:hover{
    color: #4285f4;
}
.header .navbar ul li .active{
    color: #4285f4;
}


.header .Nav_toggle_btn{
    display: none;
}
.header .Nav_toggle_btn i{
    line-height: 60px;
    font-size: 32px;
    cursor: pointer;
}

/* ====header section end ===== */
.banner{
    width: 100%;
    padding: 20px 0;
}
.banner .col_flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner .left_col{
    width: 100%;
    top: 50%;
    transform: translateY(-25%);
    position: relative;
}
.banner .left_col h1{
    color: #4285f4;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 10px;
    font-family: "Nunito","Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.banner .left_col p{
    font-weight: 300;
    font-family: 14px;
}
.banner .left_col a{
    color: #fff;
    display: block;
    margin-top: 20px;
    padding: 10px 0;
    width: 150px;
    text-align: center;
    border-radius: 50px;
    transition: 0.4s ease;
    background-color: #4285f4;
}
.banner .left_col a:hover{
    color: #f0f0f0;
    background-color: #166cf7;
}
.banner .right_col img{
    width: 100%;
    height: 100%;
}
/* ==== banner section end ==== */
.features{
    width: 100%;
    padding: 60px 0;
}
.features .features_info{
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
}
.features .features_info h2{
    font-size: 36px;
    color: #000;
    font-weight: 700;
    text-align: center;
}
.features .features_info p{
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 24px;
    text-align: center;
}
.features .features_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}
.features_card .cards {
    margin: 20px 0;
}
.features_card .cards .card_info {
    text-align: center;
    padding: 0 30px 20px 30px;
    transition: 0.4s ease;
    background-color: #f1f1f1;
}
.features_card .cards .card_info i{
    color: #fff;
    font-size: 18px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    transition: 0.4s ease;
    top: -30px;
    position: relative;
    background-color: #4285f4;
}
.features_card .cards .card_info h2{
    font-size: 16px;
    font-weight: 500;
}
.features_card .cards .card_info  p{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
.features_card .cards .card_info a{
    color: #4285f4;
    margin: 10px 0;
}
.feature_big{
    margin-top: 150px;
}
.feature_big .col_flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}
.feature_big .left_col img{
    width: 100%;
}
.feature_big .right_col{
    width: 100%;
}

.feature_big .right_col  h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 10px;
}
.feature_big .right_col p{
    font-size: 16px;
    font-weight: 300;
}
.feature_big .right_col .item_box{
    margin-top: 30px;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 0px 5px #ddd;
    border-radius: 5px;
    position: relative;
}
.feature_big .right_col .item_box::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    border-radius: 5px;
    width: 8px;
    height: 100%;
    background-color: #4285f4;
}
.feature_big .right_col .item_box .img_box{
    display: flex;
}
.feature_big .right_col .item_box .img_box{
    height: 60px;
    margin-bottom: 10px;
}
.feature_big .right_col .item_box .img_box img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 30px;
}
.feature_big .right_col .item_box .img_box  h4{
    font-size: 16px;
    font-weight: 500;
}
.feature_big .right_col .item_box .img_box p{
    font-size: 14px;
    font-weight: 300;
}
.feature_big .right_col .item_box p{
    font-size: 16px;
    font-weight: 300;
}
.features .group_4 .left_col,
.features .group_2 .left_col{
    order: 2;
}
.features .group_4 .left_col,
.features .group_2 .right_col{
    order: 1;
}
/* ====features section end ==== */
/* ==== about section start ==== */
.about{
    width: 100%;
    padding: 50px 0;
}
.about h2{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.about .col_flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}
.about .left_col img {
    width: 100%;
}
.about .right_col {
    width: 100%;
}
.about .right_col h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.about .right_col p{
    font-size: 16px;
    font-weight: 300;
}
.about .right_col ul{
    margin-top: 20px;
}
.about .right_col ul li{
    position: relative;
    margin-left: 30px;
}
.about .right_col ul li::before{
    position: absolute;
    content: '\f00c';
    font-family: fontawesome;
    font-size: 16px;
    margin-left: -30px;
    color: #7ac64d;
}
.about .right_col ul li p{
    margin: 10px 0;
}
.about .right_col a{
    color:#fff;
    width: 150px;
    font-size:16px;
    display: block;
    padding: 10px 0;
    margin-top: 30px;
    border-radius: 50px;
    text-align: center;
    background-color: #4285f4;
}
/* ==== about section end   ==== */
/* ==== our team section start ==== */
.ourTeam{
    width: 100%;
    padding: 60px 0;
}
.ourTeam h2{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}
.ourTeam .text{
    width: 50%;
    margin: auto;
    font-size: 16px;
    color: gray;
    text-align: center;
    margin-bottom: 100px;
}
.ourTeam .col_flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}
.ourTeam .group_col .col_item{
    position: relative;
    cursor: pointer;
}
.ourTeam .group_col .col_item img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.ourTeam .group_col .col_item .overlay{
    position: absolute;
    bottom: 7px;
    width: 100%;
    text-align: center;
    height: 0;
    transition: 0.4s ease;
    background-color: #4285f4;
}
.ourTeam .group_col .col_item .overlay a{
    display: inline-block;
    line-height: 50px;
    color: #fff;
    margin: 0 10px;
}
.ourTeam .group_col .col_item:hover .overlay{
    height: 50px;
}

.ourTeam .group_col .col_info {
    margin-top: 20px;
}
.ourTeam .group_col .col_info h4{
    font-size: 20px;
    font-weight: 400;
    padding: 0;
}
.ourTeam .group_col .col_info h5{
    font-size: 16px;
    font-weight: 500;
    color: #4285f4;
    margin-bottom: 10px;
}
.ourTeam .group_col .col_info p{
    font-size: 14px;
    font-weight: 300;
    color: gray;
}
/* ==== our team section end ==== */
/* ==== testimonials section start==== */
.testimonials {
    width: 100%;
    padding: 60px 0;
}
.testimonials h1{
    font-size: 46px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.testimonials .item{
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 0 10px;
}
.testimonials .item_info{
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
}
.testimonials .item_info h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}
.testimonials .item_info p{
    font-size: 16px;
    font-weight: 300;
    color: gray;
}
.testimonials .item_info img{
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
}
.testimonials .owl-theme .owl-dots .owl-dot.active span{
    background-color: #4285f4;
}
.testimonials .owl-theme .owl-dots .owl-dot span{
    width: 40px;
}
/* ==== testimonials section end==== */
/* ==== blog section start ==== */
.blog_section{
    width: 100%;
    padding: 50px 0;
}
.blog_section h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.blog_section .col_flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
}
.blog_section .group {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
}
.blog_section .group .group_info{
    padding: 20px;
}
.blog_section .group img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.blog_section .group .group_info h2{
    font-size: 28px;
    font-weight: 400;
}
.blog_section .group .group_info h2 a{
    color: #000;
}
.blog_section .group .group_info .mt-4{
    color: gray;
    font-size: 14px;
    margin: 15px 0;
}
.blog_section .group .group_info .mt-4 span{
    margin: 0 10px;
    font-size: 8px;
}
.blog_section .group .group_info .mt-4  a{
    color: #4285f4;
    font-weight: 500;
}
.blog_section .group .group_info p{
    font-size: 16px;
    color: gray;
    padding-bottom: 10px;
}
.blog_section .group .group_info .ctnRd_btn{
    color: #4285f4;
}
/* ==== blog section  end  ==== */
.contact{
    width: 100%;
    padding: 50px 0;
}
.contact  h1{
    text-align: center;
    font-size: 36px;
    color: #000;
    margin-bottom: 30px;
    font-weight: 600;
}
.contact .form_col{
    max-width: 60%;
    margin: auto;
    padding: 40px;
    background-image: linear-gradient(rgba(4, 65, 180, 0.877),rgba(4, 35, 92, 0.918));
}
.contact .form_col h2{
    color: #fff;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 500;
}
.contact .form_col .user_input .col_flex{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 40px;  
    row-gap: 20px;

}
.contact .form_col .user_input{
    margin: 20px 0;
}
.contact .form_col .user_input input{
    width: 100%;
    color: #fff;
    outline: none;
    border: 1px solid   #d5d8dc  ;
    background-color: transparent;
    padding: 10px 10px;
    margin-top: 5px;
    transition: 0.5s ease;
}
.contact .form_col .user_input input:focus{
    border: 1px solid  #17a589 ;
}
.contact .form_col .user_input label{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}
.contact .form_col .user_input textarea{
    color: #fff;
    resize: none;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin-top: 5px;
    outline: none;
    border: 1px solid #d5d8dc;
    background: transparent;
    transition: 0.5s ease;
}
.contact .form_col .user_input textarea:focus{
    border: 1px solid  #17a589 ;
}
.contact .form_col .user_input textarea::placeholder{
    color: #fff;
}
.contact .form_col .user_input button{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    outline : none;
    cursor: pointer;
    box-shadow: 0px 2px 6px transparent;
    background-color: #4285f4;
    transition: 0.5s ease;
}
.contact .form_col .user_input button:hover{
    box-shadow: 0px 2px 6px #9b9393;
}